# caches
**/.rpt2_cache/
**/.versions/
**/node_modules/

# test reports
**/coverage/
**/reports/

# build
**/build/
**/dist/

# ide
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# logs
lerna-debug.log

# os
**/.DS_Store
**/Thumbs.db
**/UserInterfaceState.xcuserstate
**/.env
**/$RECYCLE.BIN/
